<?xml version="1.0" encoding="UTF-8"?>
<configuration>


  <springProperty name="LOG_FILE" source="spring.log.filepath" defaultValue="application.log" />
  <springProperty name="AUDIT_FILE" source="spring.auditLog.filepath" defaultValue="audit.log" />
  <springProperty name="MAX_HISTORY" source="logging.logback.rollingpolicy.max-history" defaultValue="7" />
  <springProperty name="MAX_FILE_SIZE" source="logging.logback.rollingpolicy.max-file-size" defaultValue="50MB" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%epoch [%d{ISO8601}] [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_FILE}</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
      <maxHistory>${MAX_HISTORY}</maxHistory>
      <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
    </rollingPolicy>
    <encoder>
      <pattern>%epoch %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Dedicated Audit File Appender -->
  <appender name="AUDIT_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${AUDIT_FILE}</file>

    <!-- The Marker Filter Engine -->
    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
      <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
        <marker>AUDIT</marker>
      </evaluator>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/archived/audit-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>30</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%epoch %msg%n</pattern>
    </encoder>
  </appender>



  <logger name="com.ten68" level="INFO" additivity="false">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
    <appender-ref ref="AUDIT_FILE" />
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
    <appender-ref ref="AUDIT_FILE" />
  </root>
</configuration>
